<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    {{- partial "favicon.html" . -}}
    <title>
      {{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title
      }}{{- end }}
    </title>
    {{- partial "seo_tags.html" . -}}
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="stylesheet" href="/style.css" />
    {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{-
    partial "custom_head.html" . -}}

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    {{ if eq .RelPermalink "/chess/" }} {{ $chessData := index .Site.Data.chess
    "chessdata" }}
    <script type="application/json" id="chessData">
      {{ $chessData | jsonify | safeJS }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="/chess-charts.js" defer></script>
    {{ end }}
  
    {{ if eq .RelPermalink "/snippets/" }}
      <script src="/search.js" defer></script>
    {{ end }}

  </head>

  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>

      {{- block "main" . }}

      {{- end }}
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
